{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block css %}
<style type="text/css">
    .span8 {
        border-right: 1px solid #eee;
        padding-right: 10px;
    }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
    $('#addcandidate input').first().focus();
});
</script>
{% endblock %}

{% block main %}
{% from "_formhelpers.html" import render_field %}
<div class="row">
    <div class="span8">
        <form id="addcandidate" method="post" action="/addcandidate/">
	    {{ render_field(form.candidatename) }}
	    {{ render_field(form.electedoffice) }}
            {{ render_field(form.maxdonation) }}
            {{ render_field(form.bio) }}
            {{ render_field(form.website) }}
	    {{ render_field(form.paymentkey) }}
	    <div class="clearfix">
	      {{ form.imgupload.label }}
	      <div class="input"><input type="file" id="img"></div>
            </div-->
	    <div class="actions"><input type="submit" value="Create" class="btn primary" /></div>
        </form>
    </div>
</div>
{% endblock %}
