{% extends "base.html" %}

{% block js %}
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.imagesloaded.min.js"></script>
<script src="/static/js/jquery.masonry.min.js"></script>
{% endblock %}

{% block main %}
<h1>Index</h1>
<style> .thumbnail {text-align: center} </style>
    <div class="container-fluid" id="container">
        <ul class="thumbnails">
        </ul>
    </div>

<script>
      var $container = $("#container");
      $container.imagesLoaded( function(){
         $container.masonry({
            itemSelector : ".span3",
            columnWidth : 100,
            isFitWidth: true,
            isAnimated: true
          });
      }); 
</script>
{% endblock %}
