{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block css %}
<style type="text/css">
    .span8 {
        border-right: 1px solid #eee;
        padding-right: 10px;
    }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
    $('#login input').first().focus();
});
</script>
{% endblock %}

{% block main %}
{% from "_formhelpers.html" import render_field %}
<div class="row">
    <div class="span8">
        <form id="login" method="post" action="/login/">
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.remember) }}
            <div class="actions"><input type="submit" value="Log in" class="btn primary" /></div>
        </form>
    </div>
</div>
{% endblock %}
