{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block main %}
<h1>Settings</h1>
{% if form %}
{% from "_formhelpers.html" import render_field %}
<form id="settings" method="post" action="/settings/">
  {% for field in form %}
    {{ render_field(field) }}
  {% endfor %}
    <div class="actions"><input type="submit" value="Save settings" class="btn primary" /></div>
</form>
{% if connected == True %}
<p>You are logged in to Stripe</p>
{% else %}
<p><a href="/authorize/"><img src="/static/blue.png" alt="Connect to Stripe" title="Connect to Stripe"></a></p>
{% endif %}
{% else %}
<p>Your account is linked to {{ current_user.service.title() }}. All settings
are stored there.</p>
{% endif %}
{% endblock %}
